/* this will create a linear blue gradient of the background of the 
chat app and create the overall formatting of the chat app*/
.App {
  background: linear-gradient(90deg, #141E30 13%, #243B55 104%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*this creates the styles for the header of the chat app*/
.header {
  display: flex;
  color: white;
  justify-content: space-between;
  gap: 10px 10px 100px;
  margin-top: 10px;
  margin-left: 10px;
  height: 4rem;
  width: 100%;
  align-items: center;
  padding: 0 1rem;
  background: linear-gradient(90deg, #141E30 13%, #243B55 104%);
}

/*creates a logo on the top left corner of the app from the source of an image file*/
.logo {
  height: 3.5rem;
  width: 3.5rem;
  background-image: url(/public/logo1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

/*creates the styles for the title of the app*/
.title {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

/*this is for the footer of the application*/
.footer {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: linear-gradient(90deg, #141E30 13%, #243B55 104%);
  position: relative;
}

/*this creats the text box for the user's text input*/
.text-input {
  width: 100%;
  border: 1px solid white;
  height: 1rem;
  border-radius: 1rem;
  padding: 0 1rem;
  background: #EBEBEB;
  color: black;
  width:calc(100% - 50px);
}

/*this is for the styles of the send button*/
.send {
  background: #9EB9BD;
  border-radius: 50%;
  border: none;
  height: 1.7rem;
  width: 1.7rem;
  position: absolute;
  right: 1.15rem;
  cursor: pointer;
}

/*defines the position of the message when it is sent*/
.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  max-height: calc(100vh - 4rem - 4rem);
  min-height: calc(100vh - 4rem - 4rem);
  padding: 1rem;
}


/*styling for message bubbles that appear after pressing send*/
.message {
  color: white;
  background: teal;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
}

.username {
  display:flex;
  justify-content: space-between;
  color: white;
}